.shiba{
    position:fixed;
    width: 450px;
    left: 60%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
}

.shiba:hover{
    transform: scale(1.1);
}


/* for mobile media query: */

@media screen and (max-width: 768px){
    .shiba{
        width: 200px;
        left: 50%;
        top: 75%;
    }
}
